@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #f0f2f5;
  --foreground: #333333;
  --primary: #0056b3;
  --secondary: #e9ecef;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: black;
    --foreground: #ededed;
  }
}

body {
  @apply bg-gray-800 text-gray-900; /* Teste addvec des classes Tailwind directement ici */
  font-family: Arial, Helvetica, sans-serif;
}
